
<div class="main-weather">
    <h1 style="margin-top: 2rem">Weather App Mobile</h1>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Type your city</mat-label>
        <input
            type="text"
            matInput
            [formControl]="controlCity"
            [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option
                *ngFor="let option of cityOptions"
                (onSelectionChange)="getWeather(option)"
                [value]="option"
            >
                {{ option }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <div *ngIf="cityWeather?.current_weather">
        <div>
            il fait {{ cityWeather.current_weather.temperature }} °C
        </div>
        <div>
            {{ cityWeather.current_weather.time | date: 'le dd/MM/yyyy à HH:mm' }}
        </div>

        <div>
            Le vent souffle à {{ cityWeather.current_weather.winddirection }}km/h
        </div>
    </div>
</div>
